@media (max-width: 767px) {
    *{
        margin: 0
    }

    .full-height {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden!important;
    max-width: 100%!important;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }

    .container-fluid {
        height: 100vh;
        background-image: url(../../Images/login-background.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-section {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: auto;
        max-height: 100vh;
    }

    .login-form {
        max-height: 505px;
        min-height: 450px;
        border-radius: 31px 32px 0 0;
        padding-bottom: 85px;
        /* overflow: scroll; */
        display: block;
        width: 528px;
        background-color: #fff;
    }

    .login-form-body{
        padding: 32px;
    }
    .login-title {
        font-weight: 600!important;
        font-family: Avenir Next Condensed;
        letter-spacing: 0;
        line-height: 32px;
        margin-bottom: 24px;
        font-size: 24px;
    }

    .login-forgetpassword{
        color: #7f7f7f;
        font-family: Avenir Next Condensed;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        text-decoration: underline;
    }

    .login-button{
        background-color: #24cf5f;
        letter-spacing: 0;
        display: inline-flex;
        color: #fff;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        height: 48px;
        padding: 0 26px;
        font-family: Avenir Next Condensed,sans-serif;
        font-weight: 600;
        font-size: 15px;
        border-radius: 8px;
        border: none;
        width: 100%;
        margin: 24px auto;
    }

    .login-span {
        font-family: Avenir Next Condensed;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
    }

    .login-a{
        color: #24cf5e;
        text-decoration: underline;
        font-family: Avenir Next Condensed;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
    }

    .entityForm-h4 {
        font-size: 22px;
        margin: 0;
        color: #fff;
        font-family: Avenir Next Condensed,sans-serif;
        font-weight: 600;
    }

    .login-form-head {
        display: none;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------ */
@media (min-width: 768px){
    *{
        margin: 0
    }

    .full-height {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden!important;
    max-width: 100%!important;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }

    .container-fluid {
        height: 100vh;
        background-image: url(../../Images/login-background.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
    }

    .login-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        min-height: 450px;
        border-radius: 31px 32px 31px 32px;
        padding-bottom: 85px;
        /* overflow: scroll; */
        display: block;
        width: 528px;
        background-color: #fff;
    }

    .login-form-body{
        padding: 32px;
    }
    .login-title {
        font-weight: 600!important;
        font-family: Avenir Next Condensed;
        letter-spacing: 0;
        line-height: 32px;
        margin-bottom: 24px;
        font-size: 24px;
    }

    .login-forgetpassword{
        color: #7f7f7f;
        font-family: Avenir Next Condensed;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        text-decoration: underline;
    }

    .login-button{
        background-color: #24cf5f;
        letter-spacing: 0;
        display: inline-flex;
        color: #fff;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        height: 48px;
        padding: 0 26px;
        font-family: Avenir Next Condensed,sans-serif;
        font-weight: 600;
        font-size: 15px;
        border-radius: 8px;
        border: none;
        width: 100%;
        margin: 24px auto;
    }

    .login-span {
        font-family: Avenir Next Condensed;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
    }

    .login-a{
        color: #24cf5e;
        text-decoration: underline;
        font-family: Avenir Next Condensed;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
    }

    .login-form-head{
        position: relative;
        text-align: center;
        padding-top: 64px;
        padding-bottom: 55px;
        border-bottom: 1px solid #eaeaeb;

    }

    .login-image{
        height: 22px;
        width: 159px;
        display: inline-block;
        vertical-align: middle;
    }
}