@media (max-width: 767px) {
    *{
        margin: 0
    }


    .homepage-container-fluid {
        height: 100vh;
        background: #fff;
        font-size: 16px;
        line-height: 1.25;
        width: 100%;
        height: 100%;
        font-family: Averta Demo,sans-serif;
        color: #313840;
        position: relative;
    }

}


/* ------------------------------------------------------------------------------------------------------------------------ */
@media (min-width: 768px){
    *{
        margin: 0
    }

    .homepage-container-fluid {
        height: 100vh;
        background: #fff;
        font-size: 16px;
        line-height: 1.25;
        width: 100%;
        height: 100%;
        font-family: Averta Demo,sans-serif;
        color: #313840;
        position: relative;
    }

}